html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.container{
    max-width: 970px;
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
}

@media(max-width:992px) {
  .container{
    padding: 0px 10px;
  }
}

/* @media(max-width:1200px){
    .container{
        max-width: 970px;
    }
}
@media(max-width:992px){
    .container{
        max-width: 750px;
    }
}
@media(max-width:767px){
    .container{
        max-width: none;
    }
} */

.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .container{
    flex-direction: column;
}


.header__logo{
    margin-right: 30px;
}
.header__logo img{
    max-width: 113px;
    max-height: 113px;
}
@media(max-width: 710px){
  .header__logo img{
    max-width: 65px;
    max-height: 65px;
  }
}
.social{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width:955px){
  .social{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
.social__item{
    display: flex;
    align-items: center;
}
.social__item a:hover{
  opacity: 0.8;
}
.whatsapp a, .call a{
    margin-right: 10px;
}

.social__item span{
    margin-right: 13px;
}
@media(max-width: 955px){
  .social__item span:not(.call span){
    display: none;
  }
}



.call span{
    font-size: 25px;
    font-weight: 500;
}

.call{
    margin-right: 50px;
}
@media(max-width:955px){
  .call{
    margin-left: 10px;
    margin-right: 0px;
  }
}
@media(max-width:767px){
  .call a{
    width: 27px;
  }
}

.btn__item{
    width: 182px;
    height: 40px;
    background: #FFB802;
    border-radius: 35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    border: none;
    cursor: pointer;
}
@media(max-width:767px){
  .btn__item{
    width: 136px;
    height: 30px;
    font-size: 14px;
  }
}
.btn__item:hover{
  opacity: 0.8;
}

.divider{
    border-bottom: 5px solid #FFB802;
}

main h1{
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin: 20px 0px 50px 0px;
}
@media(max-width:767px){
  main h1{
    font-weight: 500;
    font-size: 28px;  
    line-height: 30px;
    margin: 10px 0px 20px 0px;
  }
}


.adv{
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
}
@media(max-width:767px){
  .adv{
    flex-direction: column;
    margin: unset;
    align-items: baseline;
    margin-bottom: 20px;
  }
}
.adv__item{
    margin-right: 20px;
    text-align: -webkit-center;
}

.adv__item img{
    margin-bottom: 5px;
}

/* @media(max-width:767px){.adv__span{
  display: inline-block;
  margin: 10px 0px 0px 10px;
}} */
@media(max-width:767px){.adv__item img{
  float:left;
  width: 40px;
  margin-bottom:unset;
  margin-right: 10px;
}}
@media(max-width:767px){.adv__item{
    margin-bottom:10px;
    text-align: -webkit-left;
    display: flex;
    align-items: center;
  }}

.order__background{
    height: 630px;
    position: relative;
    background: #FFB802;
    margin-bottom: 65px;
    overflow: hidden;
}
@media(max-width:767px){.order__background{
    margin-bottom: 30px;
    height: 640px;
}}
.back1{
    position: absolute;
    width: 358px;
    height: 94px;
    left: 52px;
    top: 548px;
}

.back2{
    position: absolute;
    width: 416px;
    height: 369px;
    right: 0px;
    top: 276px;
}
@media(max-width: 1460px){
  .back2{
    width: calc(416px - 10%);
  }
}
@media(max-width: 1210px){
  .back2{
    width: calc(416px - 15%);
  }
}

@media(max-width: 1120px){
  .back1,.back2{
    display: none;
  }
}


















* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  .b {
    display: block;
  }
  
  .toggle {
    position: absolute;
    top: 40px;
    width: 465px;
    height: 60px;
    border-radius: 100px;
  /*   background-color: #ddd; */
    
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
  }
  @media(max-width:767px){.toggle{
    top: 27px;
    width: 300px;
    height: 40px;
  }}
  .check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
  }
  
    
  
    .check:checked ~ .switch {
      right: 7px;
      left: 220px;
      transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
      transition-property: left, right;
      transition-delay: .05s, 0s;
    }
  @media(max-width:767px){.check:checked ~ .switch{
       left: 146px;
       right: 3px;
  }}

  .switch {
    position: absolute;
    left: 7px;
    top: 6px;
    bottom: 6px;
    right: 220px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    background-color: #ddd;
  }
  @media(max-width:767px){.switch{
    right: 146px;
    left: 3px;
    top: 3px;
    bottom: 3px;
  }}
  .track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
    border-radius: 40px;
    background-color: #fff;
  }
  
  .track span{
    position: absolute;
    font-weight: 500;
    font-size: 28px;
    line-height: 60px;
     z-index:2 ;
  }
  @media(max-width:767px){.track span{
    font-size: 16px;
    line-height: 40px;
  }}
  .track .left{
    left: 40px;
  }
  @media(max-width:767px){.track .left{
    left: 27px;
  }}
  .track .right{
    right: 40px;
  }
  @media(max-width:767px){.track .right{
    right: 35px;
  }}
  
  
  input[type=text], select, textarea {
      width: 100%;
      /* padding: 10px; */
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
  }
  textarea{
    padding: 10px;
  }

  label {
      padding: 10px 50px 15px 0;
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
  }
  @media(max-width:767px){label{
    font-size: 16px;
    line-height: 20px;
    padding: 12px 50px 12px 0;
  }}
  input[type=submit] {
      background-color: #000;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 70px;
      cursor: pointer;
      float: right;
  }
  
  
  
  
  
  .col-25 {
      float: left;
      width: 37%;
      margin-top: 6px;
  }
  
  .col-75 {
      float: left;
      width: 63%;
      margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
      }
  }
  
  .order__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .order{
    padding-top: 125px;
    width: 620px;
    max-width: 620px;
  }
  @media(max-width:767px){.order{
      width:100%;
      padding-top: 70px;
  }}
  select, input{
    font-size: 20px;
    line-height: 20px;
    color: #808080;
    background-color: #fff;
    padding: 6px;
  }
  @media(max-width:767px){select, input{
    padding: 5px;
    font-size: 16px;
    line-height: 16px;
  }}
  #day{
    max-width: 140px;
    margin-right: 28px;
  }
  @media(max-width:767px){#day{
      max-width: 115px;
      margin-right: 12px;
  }}
  #hour{
    margin-right: 5px;
  }
  #minute{
    margin-left: 5px;
  }
  @media(max-width:767px){#hour{
      margin-right: 0px;
  }}
  @media(max-width:767px){#minute{
    margin-left: 0px;
}}

  #hour, #minute{
    max-width: 95px;
  }
  @media(max-width:767px){#hour, #minute{
      max-width: 75px;
  }}
  .dash{
    color:#616161;
  }

  #adress{
    height:80px;
    font-size: 20px;
    line-height: 20px;
    color: #808080;
  }
  @media(max-width:767px){#adress{
    font-size: 16px;
    line-height: 20px;
    height:70px;
  }}

  
  .accept{
    font-weight: 400;
    height: 16px;
    width: 16px;
  }
  .agree__label{
    font-size: 16px;
    line-height: 20px;
  }
  @media(max-width:767px){.agree__label{
    line-height: 10px;
    padding-top: 10px;
    padding-bottom: 16px;
  }}

  .order__submit{
    background: #000000;
    border-radius: 70px;
    width: 300px;
    height: 60px;
    margin:0 auto;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
  }
  @media(max-width:767px){.order__submit{
    height: 50px;
    line-height: 30px;
    font-size: 18px;
  }}
  .order__submit:hover{
    background-color: rgba(19, 19, 19, 1);
  }
  @media(max-width:767px){.row__submit{
    width: 100%;
  }}
  @media(min-width: 767px){.row__submit{
    margin-top: 10px;
  }}
  @media(min-width: 768px){.row{
    margin-bottom: 5px;
  }}
  .mid__row{
     flex-direction: column;
     display: flex;
     align-items: center;
  }

  input[type=checkbox] + label span {
    border: 1px solid #000;
    font-size: 24pt;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 0.25em;
    margin: 4px 8px 8px 0px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
@media(max-width:767px){input[type=checkbox] + label span{
    width: 18px;
    height: 18px;
    font-size: 24pt;
}}

 input[type=checkbox]:checked + label span::after {
    content: "\2713";
    font-size: 22px;
    height: 3px;
}

input[id=accept]{
    display: none;
}


.mockup{
    margin-right: 100px;
}
@media(max-width:767px){.mockup{
    margin-right: 0px;
    margin-bottom: 25px;
}}

.mockup img{
    max-width: 300px;
    max-height: 320px;
}
@media(max-width:767px){.mockup img{
    max-width: 164px;
    max-height: 164px;

}}
.app{
    display: flex;
}
main h2{
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 20px;
}
@media(max-width:767px){main h2{
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px;
}}
main h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 30px;
}
@media(max-width:767px){main h3{
    font-size: 18px;
    line-height: 20px;
}}
.apps{
    display: flex;
}

.apps img{
    max-width: 150px;
    height: 40px;
}
.apps img:hover{
  opacity: 0.8;
  cursor: pointer;
}
@media(max-width:767px){.apps img{
    max-width: 145px;
}}
.app img:first-child{
    margin-right: 10px;
}

.container.flex{
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}
@media(max-width:767px){.container.flex{
    flex-direction: column;
    margin-bottom: 0px;
}}
.download{
    padding-bottom: 60px;
}
@media(max-width:767px){.download{
    padding-bottom: 40px;
}}
@media(min-width:768px){
    .sotr__accent{
        margin-right: 110px;
    }
}

.car img{
    max-width: 415px;
    max-height: 300px;
}
@media(max-width:767px){.car{
    display:none;
}}
.mobile__car{
    display: none;
}
@media(max-width:767px){.mobile__car{
    display: block;
    width: 210px;
    margin-bottom: 20px;
}}

footer{
    background: #000000;
    color: #fff;
    min-height: 70px;
    display: flex;
    padding: 25px 0px;
    margin-top: 80px;
}
@media(max-width:767px){footer{
    margin-top: 50px;
}}

footer .container{
    width: 100%;
}
@media(max-width:767px){footer .container{
    flex-direction: column;
}}
footer .container a:hover{
  opacity: 0.8;
}

footer p{
    margin-right: 50px;
}

@media(max-width:767px){footer p{
    margin-bottom: 5px;
}}












/* job */
.job__inner{
    display: flex;
}
@media(max-width:767px){.job__inner{
    flex-direction: column;
}}
@media(min-width:768px){
    .job__left{
        margin-right: 80px;
    }
}

.job__left p{
    margin-bottom: 23px;
}

.job__left li{
    list-style:disc;
}

.job__left ul{
    padding-left: 40px;
}
@media(max-width:767px){.job__left ul{
    margin-bottom: 25px;
}}
.job__right{
    max-height: 570px;
    max-width: 300px;
    background: #FFB802;
    border-radius: 10px;
    padding: 20px;
}
.job__right h2{
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
}
.job__right label{
  padding: 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 13px;
}
.job__right label:not(:first-of-type){
  margin-top: 18px;
}
.job__submit{
    width: 100%;
    height: 50px;
    font-size: 18px;
}
.job__submit:hover{
  background-color: rgba(19, 19, 19, 1);
}
.job__right .accept__label{
    margin-bottom: 20px;
}

.job__left p{
    font-size: 20px;
    line-height: 25px;
}


.order{
  display: block;
}
.order.order_2{
  display: none;
}

/* .order_2{
  display: none;
} */