html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.container{
    max-width: 970px;
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
}

@media(max-width:1200px){
    .container{
        max-width: 970px;
    }
}
@media(max-width:992px){
    .container{
        max-width: 750px;
    }
}
@media(max-width:767px){
    .container{
        max-width: none;
    }
}

.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .container{
    flex-direction: column;
}


.header__logo{
    margin-right: 30px;
}
.header__logo img{
    max-width: 113px;
    max-height: 113px;
}

.social{
    display: flex;
    align-items: center;
}

.social__item{
    display: flex;
    align-items: center;
}

.whatsapp a, .call a{
    margin-right: 10px;
}

.social__item span{
    margin-right: 13px;
}

.call span{
    font-size: 25px;
    font-weight: 500;
}

.call{
    margin-right: 50px;
}

.btn__item{
    width: 182px;
    height: 40px;
    background: #FFB802;
    border-radius: 35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    border: none;
    cursor: pointer;
}

.divider{
    border-bottom: 5px solid #FFB802;
}

main h1{
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin: 20px 0px 50px 0px;
}

.adv{
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
}

.adv__item{
    margin-right: 20px;
    text-align: -webkit-center;
}

.adv__item img{
    margin-bottom: 5px;
}


.order__background{
    height: 630px;
    position: relative;
    background: #FFB802;
    margin-bottom: 65px;
    overflow: hidden;
}

.back1{
    position: absolute;
    width: 358px;
    height: 94px;
    left: 52px;
    top: 548px;
}

.back2{
    position: absolute;
    width: 480px;
    height: 369px;
    right: 0px;
    top: 276px;
}




















* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  .b {
    display: block;
  }
  
  .toggle {
    position: absolute;
    top: 20px;
    width: 465px;
    height: 60px;
    border-radius: 100px;
  /*   background-color: #ddd; */
    
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
  }
  
  .check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
  }
  
    
  
    .check:checked ~ .switch {
      right: 7px;
      left: 220px;
      transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
      transition-property: left, right;
      transition-delay: .05s, 0s;
    }
  
  .switch {
    position: absolute;
    left: 7px;
    top: 6px;
    bottom: 6px;
    right: 220px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    background-color: #ddd;
  }
  
  .track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
    border-radius: 40px;
    background-color: #fff;
  }
  
  .track span{
    position: absolute;
    font-weight: 500;
    font-size: 28px;
    line-height: 60px;
     z-index:2 ;
  }
  
  .track .left{
    left: 40px;
  }
  
  .track .right{
    right: 40px;
  }
  
  
  
  input[type=text], select, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
  }
  
  label {
      padding: 15px 50px 15px 0;
      display: inline-block;
      font-size: 20px;
  }
  
  input[type=submit] {
      background-color: #000;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 70px;
      cursor: pointer;
      float: right;
  }
  
  
  
  
  
  .col-25 {
      float: left;
      width: 37%;
      margin-top: 6px;
  }
  
  .col-75 {
      float: left;
      width: 63%;
      margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
      }
  }
  
  .order{
  /*   max-width: 600px; */
    width: 620px;
  }
  
  .order__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .order{
    padding-top: 100px;
    max-width: 620px;
  }
  
  select, input{
    font-size: 20px;
    line-height: 20px;
    color: #808080;
    padding: 10px;
  }
  
  #day{
    max-width: 140px;
    margin-right: 29px;
  }
  
  #hour{
    margin-right: 5px;
  }
  #minute{
    margin-left: 5px;
  }
  
  
  #hour, #minute{
    max-width: 95px;
  }
  
  #adress{
    height:80px;
    font-size: 20px;
    line-height: 20px;
    color: #808080;
  }
  
  label{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
  
  .accept{
    font-weight: 400;
    height: 16px;
    width: 16px;
  }
  
  .order__submit{
    background: #000000;
    border-radius: 70px;
    width: 300px;
    height: 60px;
    margin:0 auto;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    
  }
  
  .mid__row{
     flex-direction: column;
     display: flex;
     align-items: center;
  }

  input[type=checkbox] + label span {
    border: 1px solid #000;
    font-size: 24pt;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 0.25em;
    margin: 4px 8px 8px 0px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
 input[type=checkbox]:checked + label span::after {
    content: "\2713";
    font-size: 22px;
    height: 3px;
}

input[id=accept]{
    display: none;
}


.mockup{
    margin-right: 100px;
}
.mockup img{
    max-width: 300px;
    max-height: 320px;
}

.app{
    display: flex;
}
main h2{
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 20px;
}
main h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 30px;
}

.apps{
    display: flex;
}

.apps img{
    max-width: 150px;
    max-height: 50px;
}
.app img:first-child{
    margin-right: 10px;
}

.container.flex{
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.download{
    padding-bottom: 60px;
}
.sotr__accent{
    margin-right: 110px;
}

.car img{
    max-width: 415px;
    max-height: 300px;
}

footer{
    background: #000000;
    color: #fff;
    min-height: 70px;
    display: flex;
    padding: 25px 0px;
    margin-top: 80px;
}

footer .container{
    width: 100%;
}


footer p{
    margin-right: 50px;
}













/* job */
.job__inner{
    display: flex;
}

.job__left{
    margin-right: 80px;
}

.job__left p{
    margin-bottom: 23px;
}

.job__left li{
    list-style:disc;
}

.job__left ul{
    padding-left: 40px;
}

.job__right{
    max-height: 570px;
    max-width: 300px;
    background: #FFB802;
    border-radius: 10px;
    padding: 10px;
}

.job__submit{
    width: 100%;
    height: 50px;
}

.accept__label{
    font-size: 16px;
    line-height: 8px;
    margin-bottom: 10px;
}

p{
    font-size: 20px;
    line-height: 25px;
}